name: Run Check Code
permissions:
  contents: read

on: pull_request

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Setup python
        uses: actions/setup-python@v6
        with:
          python-version: 3.13
      - name: Setup venv
        run:
          ./setup-venv.sh
      - name: check-code
        run:
          ./check-code.sh
